<header class="p-1 border-bottom bg-light">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
          <use xlink:href="#bootstrap"></use>
        </svg>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center align-items-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-secondary">
            <img src="/img/logo.png" alt="logo.png" width="100" height="100" class="rounded-circle">
          </a></li>
        <li><a href="/about/<%= user._id %>" class="nav-link px-2 link-body-emphasis fw-bold">About us</a></li>
        <li><a href="/my-account/<%= user._id %>" class="nav-link px-2 link-body-emphasis fw-bold">Profile</a></li>
      </ul>

      <div class="dropdown text-end">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
          aria-expanded="false">
          <img src="/img/<%= user.image %>" alt="<%= user.image %>" width="50" height="50" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="/my-account/<%= user._id %>">Profile</a></li>
          <li>
            <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" href="/login">Sign out</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>