<%- include('partials/head') %>
    <!-- HEADER -->
    <%- include('partials/navbar') %>

        <!-- BANNER -->
        <%- include('partials/banner') %>

        <!-- MAIN ABOUT-->
        <main>
            <section id="about">
                <div class="about-1">
                    <h1>ABOUT US</h1> 
                </div>
                <div id="about-2">
                    <div class="content-box-lg">
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <div class="about-item text-center">
                                        <img src="/img/avar1.jpg" alt="avatar1">
                                        <h3>Nguyen A Luy</h3>
                                        <h4>Founder/developer</h4>
                                        <h5>s3891919</h5>
                                        <hr>
                                        <p>a software developer, has had a transformative experience in the field of information technology. He recalls how he first discovered programming during his college years and immediately fell in love with the power of creating software. John's journey in IT has been filled with constant learning and growth. From building small applications to working on complex projects, he has honed his coding skills and gained expertise in various programming languages. John's experience in IT has opened doors to exciting career opportunities and allowed him to contribute to innovative technological solutions.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-item text-center">
                                        <img src="/img/avar2.jpg" alt="avatar2">
                                        <h3>Trinh Xuan Khanh</h3>
                                        <h4>Co-founder/developer</h4>
                                        <h5>s3927152</h5>
                                        <hr>
                                        <p>a cybersecurity analyst, has had a thrilling and challenging experience in the realm of information technology. She vividly remembers the first time she detected a cyber attack and successfully prevented a potential data breach. This experience ignited her passion for protecting digital assets and combating cyber threats. Sarah's journey in IT has been marked by continuous education and staying updated on the latest security practices. She finds immense satisfaction in ensuring the safety and integrity of computer networks, working diligently to outsmart hackers and safeguard sensitive information.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-item text-center">
                                        <img src="/img/avar3.jpg" alt="avatar3">
                                        <h3>Le Khanh Toan</h3>
                                        <h4>Co-founder/developer</h4>
                                        <h5>s3932146</h5>
                                        <hr>
                                        <p>a data scientist, has had a transformative experience leveraging information technology to extract meaningful insights from vast amounts of data. She recalls her early fascination with data analysis and how it led her to pursue a career in the field of data science. Emily's experience in IT involves utilizing advanced statistical techniques and machine learning algorithms to uncover patterns, trends, and correlations in data. Her work has contributed to informed decision-making processes in various industries, enabling companies to optimize their operations and enhance customer experiences.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-item text-center">
                                        <img src="/img/avar4.jpg" alt="avatar4">
                                        <h3>Le Cao Minh</h3>
                                        <h4>Co-founder/developer</h4>
                                        <h5>s3979628</h5>
                                        <hr>
                                        <p>an IT consultant, has had a diverse experience working with organizations of all sizes to optimize their technological infrastructure. He has been involved in projects ranging from implementing enterprise resource planning (ERP) systems to managing cloud migrations. Michael's experience in IT has taught him the importance of aligning technology solutions with business objectives and considering factors like scalability, security, and cost-effectiveness. His expertise has helped companies streamline their operations, improve productivity, and adapt to the ever-evolving digital landscape.</p>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-item text-center">
                                        <img src="/img/avar5.jpg" alt="avatar5">
                                        <h3>Le Trung Kien</h3>
                                        <h4>Co-founder/developer</h4>
                                        <h5>s3878260</h5>
                                        <hr>
                                        <p>a user experience (UX) designer, has had a profound experience in the field of information technology, focusing on creating intuitive and enjoyable digital experiences for users. She remembers her first usability testing session, where she witnessed firsthand the impact of thoughtful design on user engagement and satisfaction. Jessica's experience in IT involves conducting user research, crafting user-centric interfaces, and iterating designs based on user feedback. Her work has resulted in enhanced user experiences, increased customer loyalty, and improved business outcomes for the products she has collaborated on.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- FOTTER -->
        <%- include("./partials/footer") %>
        <!-- END -->
        <%- include('partials/ending') %>