<!-- HEADER -->
<%- include('partials/head') %>
  <%- include('partials/navbar') %>

    <!-- BANNER -->
    <%- include('partials/banner') %>
      <!-- FILTER -->
      <div class="filter-wrapper py-5">
        <div class="text-center">
          <h3>Price Range</h3>
          <p>Please enter the price you want to look for:</p>
        </div>
        <form action="/filter" method="get" class="d-flex justify-content-center">
          <div class="price-input">
            <div class="field">
              <span>Min Price</span>
              <input type="number" name="minPrice" class="input-min">
              <span>Max Price</span>
              <input type="number" name="maxPrice" class="input-max">
            </div>
            <div class="align-items-center text-center mt-3">
              <button class="btn btn-lg btn-primary btn-filter align-items-center" type="submit">Apply</button>
            </div>
          </div>
        </form>
      </div>
      <!-- Products -->
      <div class="container">
        <div class="row">
          <% products.forEach(function(product){ %>
            <div class="col-12 col-sm-6 col-md-3 mb-4 mb-sm-0 py-3">
              <div class="card h-100 shadow-sm">
                <img src="/img/<%= product.image %>" alt="<% product.image %>">
                <div class="card-body">
                  <h3 class="card-title">
                    <%= product.name %>
                  </h3>
                  <h4 class="card-text text-danger">
                    <%= product.price %> USD
                  </h4>
                  <div class="d-flex justify-content-around align-items-center">
                    <div>
                      <a href="product/<%= product.id %>" type="button" class="btn btn-view">View</a>
                      <a href="/order" type="button" class="btn btn-order">Order</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% }); %>
        </div>
      </div>
      
        </main>

        <!-- FOOTER -->
        <%- include("partials/footer") %>
          <!-- END -->
          <%- include('partials/ending') %>