<!-- 
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Nguyen A Luy, Le Trung Kien, Trinh Xuan Khanh, Cao Le Hoang Minh, Le Khanh Toan
// ID: S3891919, S3979628, S3927152, S3878260, S3932146
 -->
<!-- HEADER -->
<%- include('partials/head') %>
  <%- include('partials/banner') %>

    <div class="m-4">
      <h1 class="text-center">Are You Sure to DELETE this product?</h1>
      <div class="card w-50 m-auto mt-4">
        <form action="/product/<%= product._id %>/delete" method="POST" class="m-4 d-block d-md-flex justify-content-center">
          <img src="/img/<%= product.image %>" class="card-img-top w-50 align-items-center" alt="/img/<%= product.image %>">
        <div class="card-body align-items-center">
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text">Product ID: <%= product._id %></p>
          <p class="card-text">Product price: <%= product.price %></p>
          <p class="card-text">Description: <%= product.desc %></p>
          <button type="submit" class="btn btn-danger btn-lg">Delete</button>
        </div>
        </form>
      </div>
      
      
    </div>
    <!-- END -->
    <%- include('partials/ending') %>