<%- include("./partials/head")  %>
<main>
        <h1>orders</h1>
        <table>
          <tr>
            <th>Order ID</th>
            <th>Customer Name</th>
            <th>Email</th>
            <th>Distribution Hub</th>
            <th>Address</th>
            <th>Status</th>
          </tr>
          <% orders.forEach(function(order) { %>
            <tr>
              <td><%= order._id %></td>
              <td><%= order.customerName %></td>
              <td><%= order.email %></td>
              <td><%= order.hub %></td>
              <td><%= order.address %></td>
              <td><%= order.status %></td>
              <% order.products.forEach(function(product) { %>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
              <% }) %>
              <td><a href="/shipper-dashboard/<%= order._id %>/update">Update Status</a></td>
            </tr>
          <% }); %>          
        </table>
</main>
<%- include("./partials/ending") %>
