<!-- 
// RMIT University Vietnam
// Course: COSC2430 Web Programming
// Semester: 2023A
// Assessment: Assignment 2
// Author: Nguyen A Luy, Le Trung Kien, Trinh Xuan Khanh, Cao Le Hoang Minh, Le Khanh Toan
// ID: S3891919, S3979628, S3927152, S3878260, S3932146
 -->
<!-- HEADER -->
<%- include("./partials/head") %>
<%- include("partials/navbar") %>
<!-- <%- include("./partials/banner") %> -->
    <main>
      <div class="container">
        <div class="row my-4">
          <div class="col-6">
            <button class="btn view-bt py-5 w-100 btn-info btn-lg"><a href="/products">View All Products</a></button>
          </div>
          <div class="col-6">
            <button class="btn add-bt py-5 w-100 btn-success btn-lg"><a href="/product/new">Add New Product</a></button>
          </div>
        </div>
      </div>
    </main>

<!-- FOOTER -->
<%- include("partials/footer") %>
<!-- END -->
<%- include("./partials/ending") %>