<!-- HEADER -->
<%- include('partials/head') %>
  <%- include('partials/navbar') %>

    <head>
      <title>Read Products</title>
    </head>

    <body>
      <h1>Products</h1>
      <table>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Description</th>
          <th>Delete</th>
        </tr>
        <% products.forEach(function(product) { %>
          <tr>
            <td>
              <%= product.name %>
            </td>
            <td>
              <%= product.price %>
            </td>
            <td>
              <%= product.desc %>
            </td>
            <td>
              <%= product.category %>
            </td>
            <td><a href="/product/<%= product.id %>/delete">Click here</a></td>
          </tr>
          <% }); %>
      </table>
    </body>
    <!-- FOOTER -->
    <%- include("./partials/footer") %>
      <!-- END -->
      <%- include('partials/ending') %>